*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 16;
}

body {
	margin: 0;
}

.site-header {
	background-color: #41228E;
	position: fixed;
	display: block;
	width: 100%;
	z-index: 999;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
	width: 100%;
	padding: 0 20px;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
}

.site-header .container {
	justify-content: space-between;
	align-items: center;
}

.section-heading {
	font-family: 'Montserrat', sans-serif;
	font-size: 3rem;
	text-align: center;
}

@media screen and (max-width: 600px) {
	.section-heading {
		font-size: 2.2rem;
	}
}

@media screen and (max-width: 414px) {
	.section-heading {
		font-size: 2.2rem;
	}
}

/*----------------*/
/*   NAVIGATION   */
/*----------------*/

.main-nav li {
	list-style: none;
	display: inline;
}

.main-nav a {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: #fff;
	font-size: 1rem;
	text-transform: uppercase;
	text-decoration: none;
	padding: 10px 17px;
	margin: 0 5px;
}

.main-nav a:hover {
	color: #9473E6;
}

.mobile-nav {
	display: none; 
}

.logo {
	padding: 30px;
}

.logo img {
	height: 30px;
}

@media screen and (max-width: 900px) {
	.main-nav {
		display: none;
	}

	.site-header .container {
		display: block;
	}

	.logo {
		float: left;
	}

	.mobile-nav {
		position: relative;
		width: 100%;
		display: block;
	}

	.mobile-nav li {
		list-style: none;
	}

	.mobile-nav ul {
		flex-direction: column;
		display: none;
		position: absolute;
		width: 100%;
		top: 133px;
		padding: 20px;
		background-color: #fff;
	}

	.mobile-nav a {
		font-family: 'Montserrat', sans-serif;
		color: #3C4761;
		font-size: 1rem;
		text-transform: uppercase;
		text-decoration: none;
		margin: 0 5px;
		padding: 10px 17px;
		display: block;
	}

	.mobile-nav a:hover, .mobile-nav a:active {
		background-color: #9473E6;
		color: #fff;
		border-radius: 5px;
	}

	.mobile-nav a.icon {
		display: block;
		position: absolute;
		right: 0;
		top: 17px;
		color: #fff;
	}
}

/*----------------*/
/*   MOUSE MOVE   */
/*----------------*/

.mouse-move img {
	position: absolute;
}

#img1 {
	bottom: 0;
	right: 0;
}

#img4 {
	bottom: -30%;
	left: 20%;
}

#img2 {
	top: 25%;
	left: 50%;
}

@media screen and (max-width: 900px) {
	#img1 {
		bottom: 0;
		right: 0;
	}

	#img4 {
		bottom: -30%;
		left: 20%;
	}

	#img2 {
		top: 25%;
		left: 50%;
	}
}

@media screen and (max-width: 600px) {
	.mouse-move img {
		display: none;
	}

	#img4 {
		display: none;
	}
}

/*----------------*/
/*      HERO      */
/*----------------*/

.hero {
	background: url(../images/bg_01.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom;
	background-color: #41228E;
	padding-top: 100px;
	height: 864px;
}

section .container {
	padding: 55px 0;
}

.hero h1 {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 5rem;
	line-height: 1.1428;
	padding-left: 30px;
}

.hero-title {
	background: url(../images/bg_01.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom;
	background-color: #41228E;
	padding-top: 100px;
	height: 500px;
	align-items: center;
}

.hero-title h1 {
	color: #fff;
	font-family: 'Playfair Display', serif;
	font-size: 5rem;
	line-height: 1.1428;
	padding: auto;
}

@media screen and (max-width: 900px) {
	
}

@media screen and (max-width: 600px) {
	.hero h1 {
		font-size: 4rem;
	}
}

@media screen and (max-width: 414px) {
	.hero h1 {
		font-size: 2.3rem;
	}
	.hero {
		padding-top: 100px;
		height: 464px;
	}
}

/*----------------*/
/*     SOCIAL     */
/*----------------*/

.social-menu {
	position: absolute;
  top: 75%;
  left: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  flex-wrap: wrap;
  
}

.social-menu > .social-icons {
	margin: 25%;
}

.social-menu > .social-icons > a {
	color: #fff;
	display: block;
	margin: 90% 10%;
}

/*----------------*/
/*   KNOW MORE    */
/*----------------*/

.know-more .container p {
	font-family: 'Playfair Display', serif;
	font-size: 1.375rem;
	line-height: 1.7;
	text-align: center;
	margin: 40px 10% 20px 10%;
}

.know-more .container a {
	font-family: 'Playfair Display', serif;
	font-size: 2.375rem;
	text-decoration: none;
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

@media screen and (max-width: 600px) {
	.know-more .container p {
			font-family: 'Playfair Display', serif;
			font-size: 1.15rem;
			line-height: 1.5;
			text-align: center;
			padding: 0 30px;
		}

	.know-more .container a {
		font-size: 1.5rem;
	}
}

/*----------------*/
/*    PORTFOLIO   */
/*----------------*/

.portfolio-content {
	display: grid;
  max-width: auto;
  margin: 0 20px;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.portfolio-img {
	position: relative;
	width: auto;
	overflow: hidden;

	border-radius: 5px; /**/
}

.portfolio-img img {
	width: 100%;
	height: 100%;
}

.big {
	grid-row: 1 / span 2; 
}

.image-overlay a {
	font-family: 'Playfair Display', serif;
	font-size: 1rem;
	color: #000;
	text-decoration: none;
	border: none; 
	border-radius: 5px;
	background-color: #fff;
	padding: 12px 25px;
}

.image-overlay a:hover {
	background-color: #E6E6E6;
}

.image-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity 0.25s;
}

.image-overlay {
  opacity: 0;
  border-radius: 5px;
}

.image-overlay:hover {
	opacity: 1;
}

@media screen and (max-width: 900px) {
	.portfolio-content {
		grid-template-columns: repeat(2, 1fr);
	}

	.portfolio-img img {
		width: 100%;
		height: 100%;
	}
}

@media screen and (max-width: 600px) {
	.portfolio-content {
		grid-template-columns: repeat(1, 1fr);
	}

	.portfolio-img img {
		width: 100%;
		height: 100%;
	}
}

/*----------------*/
/*  CONTACT FORM  */
/*----------------*/

.contact-form {
	background: url(../images/bg_dots_04.png);
	background-size: 100% 65%;
	background-repeat: no-repeat;
	background-position: top;
	background-color: #222;
	height: auto;
}

.contact-form-heading {
	background: none;
	text-align: center;
	color: #000;
}

.contact-form-heading h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 3.75rem;
}

.form {
	width: 70%;
	margin: auto;
	background: #fff;
	border-radius: 3px;
	margin-top: 5em;
	padding: 35px;
}

.form h3 {
	font-family: 'Playfair Display', serif;
	font-weight: 100;
	font-size: 1.375rem;
	text-align: center;
	margin-bottom: 50px;
	margin-top: 20px;
}

.btn-primary {
	border: none; 
	background-color: #41228E;
	color: #fff;
	outline: none;
	-webkit-font-smoothing: subpixel-antialiased; /* kas tai? */
	transition: all .5s;
	padding: 20px 15px;
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	font-size: 1.375rem;
	width: 45%;
	border-radius: 5px;
	margin: 21px auto;
	display: inherit; /* padaro mygtuką per vidurį */
}

.btn-primary:hover {
	background-color: #9473E6;
	cursor:pointer;
}

.form-group input {
	position: relative;
	opacity: 1;
	transition: .6s;
}

.input-field-icon {
	color: #bfc9ca;
	font-size: 18px;
	position: absolute;
	right: 10px;
	bottom: 12px;
	transition: .6s;
}

.form-control {
  transition: opacity .6s;
  opacity: 1;
  border: 0;
  border-bottom: 1px solid #bdc3c7;
  border-radius: 0;
  background: white;
  font-size: 0.938rem;
  line-height: 1.467;
  padding: 25px;
  height: 42px;
  -webkit-appearance: none;
}

input, textarea {
  transition: all 800ms;
  font-family: 'Montserrat', sans-serif;
  resize: none;  
  overflow: auto; /* removes default scrolling bars in IE */
  outline:none; 
  box-sizing:border-box;
  width: 100%;
  padding: 0px 4px;
  color: #34495e;
  margin-top: 1.25em;
}

.has-error input, .has-error textarea {
  color: #e74c3c;
  border-color: #e74c3c;
}

.has-error .input-field-icon {
  color: #e74c3c;
}

.has-success input, .has-success textarea {
  color: #2ecc71;
  border-color: #2ecc71;
}

.has-success .input-field-icon {
  color: #2ecc71;
}

input:focus, textarea:focus {
  border-color: #9473E6;
  color: #34495e;
}

input:focus + .input-field-icon {
  color: #34495e;
}

textarea.form-control {
  height: 130px;
  transition: .6s;
}

textarea.form-control:focus {
  border-color: #9473E6;
}

/*----------------*/
/*     FOOTER     */
/*----------------*/

.footer {
	background-color: #222;
	padding-bottom: 30px;
	text-align: center;
}

.footer p {
	color: #fff;
}

.footer .footer-content {
	justify-content: space-between;
	text-align: left;
	padding-bottom: 50px;
	margin: 0 50px;
}

.footer .footer-content p {
	font-family: 'Playfair Display', serif;
	font-weight: 300;
	font-size: 1.125rem;
	color: #999;
}

.footer .footer-content h4 {
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
	font-size: 1rem;
}

.footer .footer-content a:link {
	text-decoration: none;
	color: #fff;
}

.footer .footer-content a:visited {
	color: #fff;
}

.footer .footer-content a:hover {
	color: #9473E6;
}

.hr.solid {
  border-top: 3px solid #888;
}

.footer-rights p {
	font-family: 'Playfair Display', serif;
	font-weight: 300;
	font-size: 1.125rem;
	color: #999;
}

@media screen and (max-width: 900px) {
	.footer .footer-content {
		flex-direction: column;
		text-align: center;
		padding-top: 20px;
	}
}

